# Copie para .env (uso local) OU configure como Secret no GitHub / Render
AIVEN_DB_URL=postgres://avnadmin:SENHA@nome-do-servico-projeto.a.aivencloud.com:PORTA/defaultdb?sslmode=require
PORT=8080
# Horas de cache antes de buscar dados novos na API do Banco Central
CACHE_HOURS=6
